<!-- <div class="card"> -->
<!--   <mat-card class="example-card"> -->
<!--     <mat-card-header> -->
<!--       <div mat-card-avatar class="example-header-image"></div> -->
<!--     </mat-card-header> -->
<!--     <img mat-card-image src="add-folder-svgrepo-com.svg" alt="Synthwave" /> -->
<!--     <mat-card-content> -->
<!--       <p>Add new recipe</p> -->
<!--     </mat-card-content> -->
<!--   </mat-card> -->
<!-- </div> -->

<article
  class="bg-white shadow-md dark:shadow-[0_4px_8px_rgba(255,255,255,0.5)] rounded overflow-hidden"
>
  <figure class="mt-5">
    <img class="w-full object-cover" src="add-folder-svgrepo-com.svg" />
  </figure>
  <section class="p-4">
    <p class="text-lg text-white-500 font-bold">Add new recipe</p>
  </section>
</article>
