/* Example cards for content */
.card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card p {
  color: #666;
  line-height: 1.4;
}

.example-card img {
  width: 13rem;
  height: auto;
}
