<ul class="grid grid-cols-5 gap-4 m-3 max-h-1.5 min-h-1.5">
  <li>
    <app-add-new-recipe-card></app-add-new-recipe-card>
  </li>

  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
  <li>
    <app-recipe-card></app-recipe-card>
  </li>
</ul>
