<!-- <div class="card"> -->
<!--   <mat-card class="example-card"> -->
<!--     <mat-card-header> -->
<!--       <div mat-card-avatar class="example-header-image"></div> -->
<!--     </mat-card-header> -->
<!--     <img mat-card-image src="add-folder-svgrepo-com.svg" alt="Synthwave" /> -->
<!--     <mat-card-content> -->
<!--       <p>Add new recipe</p> -->
<!--     </mat-card-content> -->
<!--   </mat-card> -->
<!-- </div> -->

<div
  class="flex flex-col hover:scale-105 active:scale-95 bg-white shadow-2xl cursor-pointer dark:shadow-[0_4px_8px_rgba(255,255,255,0.5)] rounded overflow-hidden border border-black h-full"
  (click)="openModal()"
>
  <figure class="mt-5">
    <img class="w-full object-cover" src="add-folder-svgrepo-com.svg" />
  </figure>
  <section class="p-4">
    <p class="text-lg text-white-500 font-bold">Add new recipe</p>
  </section>
  @if (modalOpened) {
    <app-modal-center (closeModal)="closeModal()">
      <ng-container modal-header>Add More Pixel Orcas</ng-container>
      <ng-container modal-body
        >And bite her booty like a big apple</ng-container
      >
    </app-modal-center>
  }
</div>
