<div class="flex flex-col w-[17rem] h-full">
  <div
    class="bg-[#1b2d3a] text-[1.2rem] font-bold text-white p-1.5 w-full flex justify-center items-center"
  >
    <i class="fa-solid fa-book-open relative right-3"></i>
    <p class="text-center">Flavabase</p>
  </div>
  <ul class="text-white text-left">
    @for (card of cards; track $index) {
      <li class="w-full mt-4">
        <a
          class="flex min-w-2 h-12 justify-center items-center rounded-lg p-1.5 transition duration-100 ease-in-out hover:bg-amber-100 hover:text-black text-black"
          [routerLink]="card.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i
            class="p-2 text-[2rem] text-white absolute left-7"
            [class]="card.icon"
          ></i>
          <span class="ml-1.5">{{ card.label }}</span></a
        >
      </li>
    }
  </ul>
</div>
