<div class="flex flex-col w-[19rem] h-full">
  <div
    class="bg-[#1b2d3a] text-[1.2rem] text-center font-bold text-white p-1.5"
  >
    Flavabase
  </div>
  <ul class="text-white text-left">
    <li>
      <a
        class="block p-1.5 transition duration-100 ease-in-out hover:bg-amber-100 hover:text-black"
        href="#"
        >MyBooks</a
      >
    </li>
    <li>
      <a
        class="block p-1.5 transition duration-100 ease-in-out hover:bg-amber-100 hover:text-black"
        href="#"
        >Recent</a
      >
    </li>
    <li>
      <a
        class="block p-1.5 transition duration-100 ease-in-out hover:bg-amber-100 hover:text-black"
        href="#"
        >Favorites</a
      >
    </li>
  </ul>
</div>
