<div
  class="bg-white shadow-2xl rounded overflow-hidden flex flex-col border border-black h-full"
>
  <header class="flex justify-center p-4">
    <img class="w-10 h-10 rounded-full" src="avatar-url.jpg" />
    <div class="ml-3">
      <h2 class="text-lg font-semibold">Pixel Orca</h2>
    </div>
  </header>
  <figure>
    <img
      class="w-full object-cover"
      src="https://images4.alphacoders.com/103/1034298.jpg"
    />
  </figure>
  <section class="p-4 flex-grow">
    <p class="text-grey-700">She got a big booty, so I call her big booty</p>
  </section>
  <footer class="p-4 flex space-x-2">
    <button class="bg-blue-500 text-white py-1 px-3 rounded">View</button>
    <button class="bg-grey-200 text-grey-700 py-1 px-3 rounded">Edit</button>
  </footer>
</div>
