<div class="card">
  <mat-card class="recipe-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pixel Orca</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images4.alphacoders.com/103/1034298.jpg"
      alt="Synthwave"
    />
    <mat-card-content>
      <p>She got a big booty, so I call her big booty</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <!-- <h2>Card Title 1</h2> -->
  <!-- <p> -->
  <!--   Some description or data about this section. You can include charts, -->
  <!--   tables, or text. -->
  <!-- </p> -->
</div>
